{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <main>
        <div class="top">
            <div class="link">
                <a href="{{ path('app_product_index') }}">Go Back</a>
            </div>
            <h1>Add New Product</h1>
        </div>

        {{ include('product/_form.html.twig') }}

    </main>
{% endblock %}
